DEBUG=1
SECRET_KEY=2342342344#!avqa#suwsj7if7m6$u58jmy^bl@fyk(bf+_ss=4jkng6p_h
POSTGRES_DB=base
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SITE_URL=http://127.0.0.1:8000

