amqp==2.4.2
attrs==19.1.0
billiard==3.6.0.0
cached-property==1.5.1
cachetools==3.1.0
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2
django-autotranslate==1.1.0
django-ckeditor==5.6.1
django-dbbackup==3.2.0
django-dbbackup-ui==0.2.1
django-filter==2.1.0
django-fsm==2.6.0
django-google-maps==0.10.1
django-js-asset==1.2.2
django-modeltranslation==0.13
django-mptt==0.9.1
django-multiurl==1.2.0
django-nested-admin==3.2.2
django-recaptcha3==0.1.0
django-rest-swagger==2.2.0
django-simple-history==2.7.0
django-solo==1.1.3
django-uuidfield==0.5.0
django-uuslug==1.1.8
djangorestframework==3.9.2
docopt==0.6.2
easy-thumbnails==2.6
fcm-django==0.2.21
futures==3.1.1
garpix-admin==0.1.0
garpix-menu==0.1.10
garpix-notify==0.3.15
garpix-page==0.2.1
garpix-utils==0.3.1
google-api-core==1.9.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-translate==1.4.0
googleapis-common-protos==1.5.9
goslate==1.5.1
gunicorn==19.9.0
idna==2.8
itypes==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
kombu==4.5.0
Markdown==3.1
MarkupSafe==1.1.1
model-mommy==1.6.0
openapi-codec==1.3.2
packaging==19.0
Pillow==6.0.0
pip-review==1.0
polib==1.1.0
protobuf==3.7.1
psycopg2-binary==2.8.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyfcm==1.4.5
pyparsing==2.4.0
pyrsistent==0.14.11
python-dateutil==2.8.0
python-dotenv==0.10.1
python-monkey-business==1.0.0
python-slugify==3.0.2
pytils==0.3
pytz==2019.1
PyYAML==5.1
redis==3.2.1
requests==2.21.0
requests-toolbelt==0.9.1
rsa==4.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
texttable==1.6.1
transliterate==1.10.2
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.24.1
vine==1.3.0
websocket-client==0.56.0


./vendor/garpix-admin-0.1.0.tar.gz
./vendor/garpix-notify-0.3.17.tar.gz
./vendor/garpix-utils-0.4.1.tar.gz
./vendor/garpix-page-0.3.2.tar.gz
./vendor/garpix-menu-0.1.10.tar.gz
./vendor/garpix-qa-0.1.2.tar.gz
