.logo-garpix {
    color: red;
    background-color: burlywood;
    background-image: url("../images/logo-garpix.svg");
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.back {
    background: black;
    padding: 20px;
    margin: 20px;
}