{% load staticfiles i18n thumbnail %}
<!DOCTYPE html>
<html lang="{{ current_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'include/styles.html' %}
    {% include 'include/seo.html' %}
</head>
<body>
    <header>
        <a href="#">
            <img src="" alt="" width="" height="">
        </a>
        <a href="">Главная</a>
    </header>

    <!-- main content -->
    {% block content %}{% endblock content %}
    <!-- end content -->

    <footer>
        <p>Какой-то контент</p>
        <div class="back">
            <img src="{% static 'images/logo-garpix.svg' %}" width="100">
        </div>
    </footer>

    {% include 'include/scripts.html' %}
</body>
</html>
